.loading {
  width: 100%;
  display: flex;
  padding: 0 Im !important;
}

.loading .line {
  border-radius: 6px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  animation: wave-lines 2s infinite ease-out;
}

.loading1 {
  flex: 2;
}

.currency {
  height: 3vh;
  width: 10vh;
  margin: 0px !important;
}

.coin {
  height: 6vh;
  width: 70vh;
  margin: 0px !important;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}